* {
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar {
  width: 100%;
  background-color: #0f64b4;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 31.66%;
  text-align: center;
}

.navbar a:hover {
  background-color: #8bafd1;
}

.navbar a.active {
  background-color: #8bafd1;
  color: #000000;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
  }
}

h1 {
  color: #0f64b4;
  text-align: center;
}

h3 {
  color: #ffffff;
  text-align: center;
}

body {
  margin: 0px;
  background-color: #ffffff;
}

.active {
  background-color: #a9c2d9;
}

.header {
  padding: 40px;
  text-align: center;
  background: #ffffff;
  color: #000000;
  font-size: 20px;
}

p {
  font-weight: bold;
  font-size: 25px;
}

span {
  font-weight: 500;
  font-size: 17px;
}

.logoImage {
  width: 100px;
  height: 100px;
  border-style: solid;
  transition: all 700ms ease-in;
}

.logoImage:hover {
  box-shadow: 5px 5px 15px #0f64b4;
  color: #000000;
}

.documentation {
  width: 60%;
  height: auto;
  transition: all 700ms ease-in;
  border-radius: 10px 10px 10px 10px;
}

.documentation:hover {
  box-shadow: 5px 5px 15px #0f64b4;
  color: #000000;
}

.colorImage {
  width: 200px;
  height: 200px;
  transition: all 700ms ease-in;
  border-radius: 10px 10px 10px 10px;
}

.colorImage:hover {
  box-shadow: 5px 5px 15px #0f64b4;
  color: #000000;
}

.screenshotImage {
  width: 250px;
  height: 500px;
  transition: all 700ms ease-in;
  border-radius: 10px 10px 10px 10px;
}

.screenshotImage:hover {
  box-shadow: 5px 5px 15px #0f64b4;
  color: #000000;
}

.fontRegular {
  font-weight: 200;
  margin: 10px;
}

.fontBold {
  font-weight: 900;
  margin: 10px;
}

.fontSemiBold {
  font-weight: bolder;
  margin: 10px;
}

footer {
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-size: 30px;
}

footer i {
  padding: 10px;
  color: #000000;
}
